.dash-board-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
}

.top-bar {
  display: flex;
}

.summary {
  display: flex;
  background-color: rgb(115, 208, 255);
  height: 20em;
  margin: 1em 0em 1em 0em;
  padding: 0em 1em 0em 1em;
  align-items: center;
}

.embed-detail {
  /* overflow: auto; */
  height: 160vh;
}

.favorites {
  box-sizing: content-box;
  background-position: center;
  border: 0px solid black;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 2em;
  width: 2em;
  background-color: rgba(240, 248, 255, 0);
}

.true {
  background: url(../../images/favorited.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  height: 2em;
  width: 2em;
}

.false {
  background: url(../../images/not-favorited.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 2em;
  width: 2em;
}
