.dash-board-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* height: 100%; */
}
.embed-detail {
  overflow: auto;
}

span.true {
  background: url(../../images/favorited.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 2em;
    width: 2em;
}

span.false {
  background: url(../../images/not-favorited.svg) no-repeat top left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 2em;
    width: 2em;
}